/*
 * @Author: qin11152 1052080761@qq.com
 * @Date: 2022-08-13 21:17:55
 * @LastEditors: qin11152 1052080761@qq.com
 * @LastEditTime: 2023-04-02 16:03:51
 * @FilePath: /src/IM-Server/.gitignore
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
 
/CMakeFiles
/cmake_install.cmake
/CMakeCache.txt
/log4cxx.properties
/qin
/data
/Makefile
/testlog4cxx.log
/build
